@model Wedding.Models.Table

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Table</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomTable)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomTable)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NbrePlaces)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NbrePlaces)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Statut)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Statut)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NbreInvitePresent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NbreInvitePresent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreInvites)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreInvites)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatutDuJour)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatutDuJour)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
