@model Wedding.Models.Invite

<h2 class="text-center">Détails de l'invité</h2>

<div class="container">
    <div class="table-responsive">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th scope="row" class="p-2">Nom</th>
                    <td class="p-2">@Model.NomInvite</td>
                </tr>
                <tr>
                    <th scope="row" class="p-2">Prénom</th>
                    <td class="p-2">@Model.PrenomInvite</td>
                </tr>
                <tr>
                    <th scope="row" class="p-2">Nom de la Table</th>
                    <td class="p-2">@Model.Table?.NomTable</td>
                </tr>
                <tr>
                    <th scope="row" class="p-2">Type de Billets</th>
                    <td class="p-2">@Model.TypeBillets</td>
                </tr>
                <!-- Ajouter d'autres champs si nécessaire -->
            </tbody>
        </table>
    </div>

    <div class="d-flex justify-content-center my-4">
        <a href="@Url.Action("Edit", new { id = Model.Id })" class="btn btn-warning mx-2" title="Modifier">
            <i class="fas fa-edit"></i>
        </a>
        <a href="@Url.Action("Index")" class="btn btn-secondary mx-2" title="Retour à la liste">
            <i class="fas fa-arrow-left"></i>
        </a>
    </div>
</div>

<!-- Responsive adjustments directly in the HTML via Bootstrap classes -->
<div class="d-none d-md-block">
    <!-- Content for larger screens -->
</div>

<div class="d-block d-md-none">
    <!-- Adjusted content for smaller screens -->
</div>
